<h1>Naaikunst indexpage.</h1>
<<<<<<< HEAD
<%= link_to "Homepage", controller: "posts" %>
=======
<%= link_to "Naaikunst", controller: "posts" %>
<%= link_to "Workshop", controller: "workshops" %>
>>>>>>> bf2f10076f3e4c6147cee8ba603016468cd1912b
